/**
 * Ixat CSS
 *
 *Created by Sander Jochems & Bram Swinkels
 */

body {
    background-color: rgb(229, 233, 242);
}

/* Navbar margin */

nav {
    margin: 15px 30px;
}

/* Image width */

img {
    width: 100%;
}

/* Home page */

.home-container>a {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    outline: 0;
}

.image-text {
    position: absolute;
    top: 20%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

.home-container {
    position: relative;
    color: white;
    text-align: center;
}

.image-klanten {
    width: 120%;
}

/* textarea */

textarea {
    resize: none;
    height: 200px;
}

/* Chauffeur-profiel */

p > a {
    color: #41aff4;
    font-size: 20px;
}