/**
 * Ixat CSS
 *
 *Created by Sander Jochems & Bram Swinkels
 */

/* Navbar margin  */
nav {
  margin: 15px 30px;
}

/* Column with a 40 pixels width */
.col-40px {
  width: 40px;
}

/* Column with a 20 pixels width */
.col-20px {
  width: 20px;
}

/* No max width for a container */
.container {
  max-width: none;
}

/* Remove paddings at the chauffeur row */
.row.chauffeur .col {
  padding-left: 0;
  padding-right: 0;
}

/* Margin bottom 25 pixels */
.margin-bottom-25px {
  margin-bottom: 25px;
}

/* Margin bottom 50 pixels */
.margin-bottom-50px {
  margin-bottom: 50px;
}

/* Margin bottom 100 pixels */
.margin-bottom-100px {
  margin-bottom: 100px;
}

.margin-top-100px {
  margin-top: 100px;
}

.no-margin-top {
  margin-top: 0 !important;
}

/* Footer */
#footer {
  margin-top: 30px;
  width: 100%;
  bottom: 0;
  position: relative;
}

/* Disabled Input */
.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  cursor: not-allowed;
}