/**
 * Ixat CSS
 *
 *Created by Sander Jochems & Bram Swinkels
 */

nav {
  margin: 15px 30px;
}

.col-40px {
  width: 40px;
}

.container {
  max-width: none;
}

.row.chauffeur .col {
  padding-left: 0;
  padding-right: 0;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.margin-bottom-100px {
  margin-bottom: 100px;
}